In [1]:
import pandas as pd
import numpy as np
import glob
import os
import matplotlib.pyplot as plt
import completions_module as cmodule

Load data.

In [2]:
# ucar list
all_files = glob.glob("../data/completions_*.csv")
all_files = sorted(all_files)
df_ucar = cmodule.open_and_concat(all_files)

# hsi list
all_files = glob.glob("../data/hsi_completions_*.csv")
all_files = sorted(all_files)
df_hsis = cmodule.open_and_concat(all_files)

# ehi list
all_files = glob.glob("../data/emerginghsi_completions_*.csv")
all_files = sorted(all_files)
df_ehis = cmodule.open_and_concat(all_files)

Concatenate the data from UCAR, HSI, EHI lists.

In [3]:
all_unis = pd.concat([df_ucar, df_hsis, df_ehis])

## Atmospheric Sciences

In [4]:
df = cmodule.bs_degrees(all_unis)
df = cmodule.atmospheric_sciences(df)

school_names = df.groupby(
    'institution name').sum()['Hispanic or Latino total'].sort_values(
    ascending=False).head(30).index

df = df[df['institution name'].isin(school_names)].groupby(
    'institution name').sum()[['Grand total','Hispanic or Latino total']]

df['percent_total'] = np.around(
    (df['Hispanic or Latino total']/df['Grand total']) * 100, 1)

df.sort_values('Hispanic or Latino total',ascending=False).head(30)

,Grand total,Hispanic or Latino total,percent_total
institution name,,,
Texas A & M University-College Station,298,53,17.8
Florida State University,295,35,11.9
University of the Incarnate Word,44,23,52.3
University of California-Los Angeles,138,21,15.2
University of Illinois at Urbana-Champaign,192,18,9.4
Pennsylvania State University-Main Campus,542,17,3.1
SUNY Maritime College,128,15,11.7
University of Oklahoma-Norman Campus,416,15,3.6
Embry-Riddle Aeronautical University-Daytona Beach,220,14,6.4
Cornell University,112,14,12.5
Northern Illinois University,180,12,6.7
San Jose State University,65,12,18.5
University of Washington-Seattle Campus,185,12,6.5
University of Miami,73,12,16.4
Virginia Polytechnic Institute and State University,161,10,6.2
Valparaiso University,249,9,3.6
Rutgers University-New Brunswick,158,9,5.7
SUNY College at Oswego,154,8,5.2
Stony Brook University,97,8,8.2
SUNY at Albany,128,8,6.2
North Carolina State University at Raleigh,245,7,2.9
University of Missouri-Columbia,305,7,2.3
Embry-Riddle Aeronautical University-Prescott,87,7,8.0
University of California-Davis,51,6,11.8
University of South Alabama,151,6,4.0
United States Air Force Academy,72,5,6.9
University of Louisiana at Monroe,71,5,7.0
Purdue University-Main Campus,98,5,5.1
Millersville University of Pennsylvania,229,5,2.2
University of Kansas,109,5,4.6